body {
  font-family:Arial,helvetica,Sans-Serif;
}

div {
  background-color:Grey;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 70px;
  border-radius:15px;
  color:white;
}

button {
  background-color:dodgerblue;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px rgb(53, 51, 51);
  padding:15px;
  width:100%;
  color:white;
  font-size:15px;
}

button:hover {
  background-color: rgb(37, 58, 65);
  cursor: pointer;
  transition: 0.5s;
}

h1 {
font-size: 25px;
width: 300px;
text-align: center;
padding: 15px;
}